body {
  background-image: url('./tooth.jpg');
}

.headerInfo {
  margin-left: 340px;
}

.sectionHeader {
  margin-top: 100px;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0;
  overflow: hidden;
  background-color: #5F9EA0;
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.8;
}

li {
  float: left;
  letter-spacing: 2px;
  font-size: 18px;
  width: 150px;
}

li a {
  width: 150px;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  opacity: 1;
  text-decoration: none;
  transition-duration: 0.4s;
}

li a:hover {
  width: 150px;
  opacity: 0.4;
}

footer {
   position: fixed;
   padding-top: 6px;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #5F9EA0;
   color: white;
   text-align: center;
   opacity: 0.8;
}

img {
  margin-top: 170px;
  margin-left: 40px;
  border-radius: 60px;
  opacity: 0.6;
}

.image {
  width: 25%;
  float: left;
}

.navigation {
  margin-top: 230px;
  width: 260px;
  float: left;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 50%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
}

.billsTable {
  margin-top: 60px;
}

.headerTable {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 18px;
  background-color: #5F9EA0;
  opacity:0.8;
}

.createNewPatientButton {
  margin-left: 400px;
  margin-bottom: 60px;
}

form {
  margin-left: 100px;
  margin-top: 30px;
}

fieldset {
  background-color: #D3D3D3;
  width: 740px;
}

legend {
  background-color: #87CEFA;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  opacity:0.8;
}

.legendCaseDetails {
  background-color: #1E90FF;
  opacity:0.8;
}

#nameLabel {
   padding-left: 15px;
   padding-right: 25px;
}

#name {
   width: 400px;
}

#dateLabel {
   padding-left: 40px;
   padding-right: 10px;
}

#addressLabel {
   padding-left: 15px;
   padding-right: 10px;
}

#address {
   width: 648px;
}

#cityLabel {
   padding-left: 15px;
   padding-right: 40px;
}

#city {
   width: 260px;
}

#countryLabel {
   padding-left: 20px;
   padding-right: 10px;
}

#country {
   width: 44px;
}

#zipCodeLabel {
   padding-left: 15px;
   padding-right: 4px;
}

#zipCode {
   width: 160px;
}

#emailLabel {
   padding-left: 15px;
   padding-right: 26px;
}

#email {
   width: 400px;
}

#sexLabel {
   padding-left: 50px;
   padding-right: 10px;
}

.sex {
   margin-right: 20px;
}

#phoneLabel {
   padding-left: 15px;
   padding-right: 23px;
}

#phone {
   width: 155px;
}

#mobileLabel {
   padding-left: 20px;
   padding-right: 12px;
}

#mobile {
   width: 155px;
}

#cnpLabel {
   padding-left: 46px;
   padding-right: 6px;
}

#cnp {
   width: 160px;
}

#categoryLabel {
   padding-left: 15px;
   padding-right: 9px;
}

#restorationLabel {
   padding-left: 60px;
   padding-right: 10px;
}

#teethLabel {
   padding-left: 15px;
   padding-right: 32px;
}

#commentLabel {
   padding-left: 15px;
   padding-right: 2px;
}

#importantLabel {
  padding-left: 15px;
  padding-right: 0px;
}

#imageSubmit {
  margin-right: 20px;
  margin-bottom: 10px;
}

.headerNewPatient {
  margin-left: 396px;
}

#sectionCreatePatient {
  margin-bottom: 100px;
}

#footerCreatePatient {
   position: static;
   padding-top: 6px;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #5F9EA0;
   color: white;
   text-align: center;
   opacity: 0.8;
}

#nrLabel {
  padding-left: 15px;
  padding-right: 15px;
}

#codeLabel {
  padding-left: 35px;
  padding-right: 140px;
}

#shadeLabel {
  padding-right: 140px;
}

#numberTeethLabel {
  padding-left: 126px;
}

.number {
  padding-left: 20px;
  padding-right: 60px;
}

.number2 {
  padding-left: 20px;
  padding-right: 58px;
}

.code {
  width: 175px;
}

.shade {
  width: 310px;
}

.numberTeeth {
  width: 156px;
}
